version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Fudbal1234
      POSTGRES_DB: Nimble
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: Fudbal1234
      DB_NAME: Nimble
      ENVIRONMENT: DEV
      REFRESH_TOKEN_SECRET: verySecretRefreshKey
      ACCESS_TOKEN_SECRET: verySecretAccessKey
    command: npm run start:dev

  frontend:
    build: ./client
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://localhost:3000/api
    command: npm run dev -- --host

volumes:
  pgdata:
