@import '../../styles/colors.scss';
.list-wrapper{
    width: 200px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-color;
    list-style: none;
    .items{
        margin-top: 5px;
        font-size: 14px;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        cursor: pointer;
        .item-wrapper{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .soon-span{
            border: 1px solid $secondary-color;
            color: $secondary-color;
            border-radius: 4px;
            padding: 1.5px;
        }
    }
    .active{
        color: $primary-color;
        border-left: 2px solid $primary-color;
    }
}