@import "../../styles/colors.scss";

.header-wrapper {
  width: 100%;
  height: 80px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid $border-color;
  .hamburger-icon {
    display: none;
    cursor: pointer;
  }
  img {
    width: 140px;
  }
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    border: 1px solid transparent;
    transition: border-color 0.2s ease;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
  .search {
    display: flex;
    gap: 10px;
    width: 400px;
    height: 40px;
    .search-input {
      input,
      input:focus {
        font-size: 14px;
        font-weight: bold;
        font-family: "Manrope", sans-serif;
        border: none;
        outline: none;

        width: 100%;
      }
      input::placeholder {
        color: $border-color;
      }
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 5px;
      padding: 4px 11px;
      border: 0.5px solid $border-color;
      border-radius: 4px;
      transition: border-color 0.2s ease;
      .search-button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover,
      &:active {
        border-color: $secondary-color;
      }
    }
    .create-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      background-color: transparent;
      border: 0.5px solid $border-color;
      border-radius: 4px;
      padding: 6px 11px;
      cursor: pointer;
      &:hover {
        border: 1px solid $primary-color;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .header-wrapper {
    .hamburger-icon {
      display: block;
    }
    img {
      display: none;
    }
    .search {
      display: none;
    }
  }
}
