$primary-color: #eebe56;
$secondary-color: #eeca7b;
$thirdly-color: #ffeec7;
$background-color-colorized: #f3f3dc;
$background-color: #f9f9f9;
$error-color: #f44336;
$input-label: #808080;
$avatar-color: #ec8600;
$border-color: #ecedf0;
$background-border-color: #eeeeee;
$background-content-color: #fff;