$primary-color: #eebe56;
$secondary-color: #eeca7b;
$background-color-colorized: #f3f3dc;
$text-color: #333;
$background-color: #f9f9f9;
$error-color: #f44336;
$input-label: #808080;
$avatar-color: #ec8600;
$border-color: #bfbfbf;